/* -------------------------------------------------------
Template: ipsa
Version: 1.0
Author: Mosaddek Hossain
 -------------------------------------------------------*/

@import "variables";

/* ---------------------------------------------
typography
--------------------------------------------- */
@import "typography";

/* ---------------------------------------------
header
--------------------------------------------- */
@import "header";

/* ---------------------------------------------
banner
--------------------------------------------- */
@import "banner-static";


/* ---------------------------------------------
section
--------------------------------------------- */
@import "section";

/* ---------------------------------------------
contact
--------------------------------------------- */
@import "contact";

/* ---------------------------------------------
footer
--------------------------------------------- */
@import "footer";

/* ---------------------------------------------
buttons
--------------------------------------------- */
@import "buttons";


/* ---------------------------------------------
woocommerce
--------------------------------------------- */
//@import "woocommerce";
@import "woocommerce-custom";

/* ---------------------------------------------

/* ---------------------------------------------
responsive
--------------------------------------------- */
@import "responsive";
